<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.test.medicalert">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity">
        </activity>
        <activity android:name="com.example.test.medicalert.activities.SignUpActivity"/>
        <activity
            android:name="com.example.test.medicalert.activities.PatientMenuActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.example.test.medicalert.activities.AideSoignantMenuActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name="com.example.test.medicalert.activities.AjouterMedicamentActivity"/>
        <activity android:name="com.example.test.medicalert.activities.ModifierMedicamentActivity"/>
        <activity android:name="com.example.test.medicalert.activities.SupprimerMedicamentActivity"/>
        <activity android:name="com.example.test.medicalert.activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.test.medicalert.activities.RechercheMedicamentActivity"/>
        <activity android:name="com.example.test.medicalert.activities.RechercheMedicamentParNomActivity"/>
        <activity android:name="com.example.test.medicalert.activities.RechercheMedicamentParCategorieActivity"/>
        <activity android:name="com.example.test.medicalert.activities.AjouterTraitementActivity"/>
        <activity android:name="com.example.test.medicalert.activities.ModifierTraitementActivity"/>
        <activity android:name="com.example.test.medicalert.activities.SupprimerTraitementActivity"/>
        <activity android:name="com.example.test.medicalert.activities.AjouterMedicamentTraitementMenuActivity"/>
        <activity android:name="com.example.test.medicalert.activities.AjouterMedicamentDansTraitementActivity"/>
        <activity android:name="com.example.test.medicalert.activities.barcode_scanner.ScanCodeActivity"/>
        <activity android:name="com.example.test.medicalert.activities.AjouterRendezVousActivity"/>
        <activity android:name="com.example.test.medicalert.activities.ListerRendezVousAideSoignantActivity"/>
        <activity android:name="com.example.test.medicalert.activities.ListerMedicamentTraitementActivity"/>
    </application>

</manifest>